@model List<MyPortfolio.Models.TblContacts>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Contact Page</h3>

<table class="table table-bordered">
    <tr>
        <th style="text-align: center; align-content: center">#</th>
        <th style="text-align: center; align-content: center">Name Surname</th>
        <th style="text-align: center; align-content: center">Address</th>
        <th style="text-align: center; align-content: center">Phone</th>
        <th style="text-align: center; align-content: center">E-Mail</th>
        <th style="text-align: center; align-content: center; background-color : red">Delete</th>
        <th style="text-align: center; align-content: center; background-color : green">Update</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center; align-content: center">@item.ContactId</td>
            <td style="text-align: center; align-content: center">@item.NameSurname</td>
            <td style="text-align: center; align-content: center">@item.Address</td>
            <td style="text-align: center; align-content: center">@item.Phone</td>
            <td style="text-align: center; align-content: center">@item.Email</td>
            <td style="text-align: center; align-content: center"><a href="/Contact/DeleteContact/@item.ContactId" class="btn btn-outline-danger">Delete</a></td>
            <td style="text-align: center; align-content: center"><a href="/Contact/UpdateContact/@item.ContactId" class="btn btn-outline-success">Update</a></td>
        </tr>
    }
</table>

<br />
<a href="/Contact/AddContact" class="btn btn-outline-dark">Add New Contact</a>

