@model MyPortfolio.Models.TblExperiences
@{
    ViewBag.Title = "UpdateExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Deneyim Güncelleme Sayfası</h3>

<form method="post">
    <input type="hidden" name="ExperienceId" value="@Model.ExperienceId" />
    <label>Başlangıç Yılı</label>
    <input type="text" name="StartYear" class="form-control" value="@Model.StartYear" />
    <br />
    <label>Bitiş Yılı</label>
    <input type="text" name="EndYear" class="form-control" value="@Model.EndYear" />
    <br />
    <label>Ünvan</label>
    <input type="text" name="Title" class="form-control" value="@Model.Title" />
    <br />
    <label>Açıklama</label>
    <textarea name="Description" class="form-control" value="@Model.Description.ToString()"></textarea>
    <br />
    <label>Şirket Adı</label>
    <input type="text" name="Company" class="form-control" value="@Model.Company" />
    <br />
    <label>Konum</label>
    <input type="text" name="Location" class="form-control" value="@Model.Location" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>



</form>



