@model List<MyPortfolio.Models.TblProjects>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Projeler Sayfası</h3>

<table class="table table-bordered">
    <tr>
        <th style="text-align: center; align-content: center">#</th>
        <th style="text-align: center; align-content: center">Resim URL</th>
        <th style="text-align: center; align-content: center">Proje Adı</th>
        <th style="text-align: center; align-content: center">Kategori</th>
        <th style="text-align: center; align-content: center">Github URL</th>
        <th style="text-align: center; align-content: center; background-color : red">Sil</th>
        <th style="text-align: center; align-content: center; background-color : green">Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center; align-content: center">@item.ProjectId</td>
            <td style="text-align: center; align-content: center"><img src="@item.ImageUrl" style="height : 50px; width : 50px" /></td>
            <td style="text-align: center; align-content: center">@item.ProjectName</td>
            <td style="text-align: center; align-content: center">@item.TblCategories.CategoryName</td>
            <td style="text-align: center; align-content: center"><a href="@item.GitHubUrl" target="_blank">Github Linki</a></td>
            <td style="text-align: center; align-content: center"><a href="/Project/DeleteProject/@item.ProjectId" class="btn btn-outline-danger">Sil</a></td>
            <td style="text-align: center; align-content: center"><a href="/Project/UpdateProject/@item.ProjectId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }


</table>
<br />
<a href="/Project/AddProject" class="btn btn-outline-dark">Yeni Proje Ekle</a>
