@model MyPortfolio.Models.TblProjects
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Update Project Page</h3>

<form method="post">
    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />

    <label>Image URL</label>
    <input type="text" name="ImageUrl" value="@Model.ImageUrl" class="form-control" />
    <br />
    <label>Project Name</label>
    <input type="text" name="ProjectName" value="@Model.ProjectName" class="form-control" />
    <br />
    <label>Category Name</label>
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.category, "Kategori Seçiniz", new { @class = "form-control" })
    <br />
    <label>GitHub URL</label>
    <input type="text" name="GitHubUrl" value="@Model.GitHubUrl" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Update</button>
</form>