@model List<MyPortfolio.Models.TblMessages>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Mesajlar</h3>

<table class="table table-bordered">
    <tr>
        <th style="text-align : center">#</th>
        <th style="text-align : center">İsim</th>
        <th style="text-align : center">E-Mail</th>
        <th style="text-align : center">Konu</th>
        <th style="text-align : center">Mesaj</th>
        <th style="text-align : center; background-color : red">Sil</th>
        <th style="text-align : center; background-color : green">Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MessageId</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>@item.MessageContent</td>
            <td style="text-align : center"><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td style="text-align : center"><a href="#" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>

<br />
<button class="btn btn-outline-dark">Yeni Mesaj Ekle</button>

