@model MyPortfolio.Models.TblTestimonials
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Update Testimonial Page</h3>

<form method="post">
    <input type="hidden" name="TestimonialId" value="@Model.TestimonialId" />
    <label>Image URL</label>
    <input type="text" name="ImageUrl" class="form-control" value="@Model.ImageUrl"/>
    <br />
    <label>Comment</label>
    <input type="text" name="Comment" class="form-control" value="@Model.Comment" />
    <br />
    <label>Name Surname</label>
    <input name="NameSurname" class="form-control" value="@Model.NameSurname"/>
    <br />
    <label>Title</label>
    <input name="Title" class="form-control" value="@Model.Title" />
    <br />
    <label>Comment Date</label>
    <input type="datetime" name="CommentDate" class="form-control" value="@Model.CommentDate" />
    <br />


    <button class="btn btn-outline-primary">Update</button>


</form>
